*,
*::after,
*::before {
  /* box-sizing: border-box;
  margin: 0;
  padding: 0; */
}

*::selection,
*::after,
*::before {
  background: none;
}

html {
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, hsl(200, 100%, 50%), hsl(175, 100%, 50%));
  background: radial-gradient(circle at 50% 50%, #eeeeee 0%, rgb(34, 34, 34) 100%);
}

@font-face {
  font-family: "TGL 0-17";
  src: url("./font/TGL_0-17.eot?") format("eot"),
    url("./font/TGL_0-17.woff") format("woff"),
    url("./font/TGL_0-17.ttf") format("truetype"),
    url("./font/TGL_0-17.svg#TGL0-17") format("svg");
  font-weight: normal;
  font-style: normal;
  background: linear-gradient(to right, hsl(200, 100%, 50%), hsl(175, 100%, 50%)) !important;
  background: radial-gradient(circle at 50% 50%, #eeeeee 0%, rgb(34, 34, 34) 100%) !important;
}

body {
  color: black;
  overflow: hidden;
  font-family: "TGL 0-17";
}

button,
input {
  font-family: "TGL 0-17" !important;
}

.nav {
  /* border: 1px dashed red;a */
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.nav a {
  /* border: 1px solid red; */
  display: inline-block;
  z-index: 100;
  width: 12%;
  cursor: pointer;
}

.nav a img {
  z-index: 0;
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 10px;
  opacity: 0.3;
}

.arrow-left {
  float: left;
  margin-left: 10px;
}

.arrow-right {
  float: right;
  margin-right: 30px;
}

.body-wrapper {
  /* border: 1px solid red; */
  height: 100vh;
  width: 100%;
  color: white;
  background: linear-gradient(to right, hsl(200, 100%, 50%), hsl(175, 100%, 50%));
  background: radial-gradient(circle at 50% 50%, #eeeeee 0%, rgb(34, 34, 34) 100%);

}



.wrapper {
  /* border: 1px dashed blue; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
}

.frame {
  /* border: 1px dashed black; */
  position: relative;
}

.frame>img {
  display: block;
  width: 100%;
}

.toggle-cap {
  background: none;
  position: absolute;
  top: 10.5%;
  left: 49.8%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 16%;
  width: 22%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.toggle-cap>img {
  /* border: 1px dashed white; */
  display: block;
  width: 55%;
  position: absolute;
  top: 55.5%;
  left: 48%;
  transform: translate(-50%, -50%);
}

.toggle-cap:active>img {
  top: 65%;
}

.display {
  border-radius: 50%;
  height: 68.8%;
  width: 89%;
  position: absolute;
  top: 61.1%;
  left: 49.2%;
  transform: translate(-50%, -50%);
}

.display>img {
  position: relative;
  display: block;
  width: 100%;
}

.center {
  height: 65%;
  width: 65%;
  /* border: 2px solid green; */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 150;
}

.center::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 78%;
  width: 78%;
  /* border: 2px solid red; */
}

.center::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 55%;
  width: 55%;
  /* border: 2px solid #4a0080; */
}

.minute-hand {
  /* border: 1px solid red; */
  --rotation: 0;
  height: 10%;
  width: 20%;
  position: absolute;
  top: 37%;
  left: 49.8%;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(calc(var(--rotation) * 1deg));
  background-image: url('../images/small-needle.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 50;
}

.second-hand {
  /* border: 1px solid red; */
  position: absolute;
  top: 49.9%;
  left: 49.9%;
  --rotation: 0;
  transform-origin: center;
  z-index: 100;
  transform: translate(-50%, -50%) rotate(calc(var(--rotation) * 1deg));
  width: 10%;
  height: 80%;
  background-image: url('../images/needle.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}







.wrapper-chart {
  /* border: 1px dashed white; */
  height: fit-content;
  font-size: 25px;
  margin-top: 60px;
}

.ship-silouete {
  /* border: 1px dashed white; */
  display: block;
  margin: 50px auto 60px;
  width: 100%;
  position: relative;
}

.time-wrapper {
  display: flex;
  align-items: flex-end;
  color: #ccc;
  text-shadow: none;
}

.icon-watch {
  display: block;
  width: 50px;
}

#time_passed {
  display: inline-block;
  font-size: 22px;
  color: #e7e7e7;
  margin-right: 2px;
}

.calc {
  display: block;
  margin: 30px auto;
}

.result {
  color: black;
  text-shadow: none;
  font-size: 25px;
  text-align: center;
}





/* Third page */
.range-wrapper {
  /* border: 1px solid blue; */
}

.title {
  padding: 0;
  margin: 0;
  text-align: center;
  color: black;
}

.zoom_level {
  /* border: 1px solid blue; */
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.behind-target {
  /* border: 1px solid blue; */
  display: block;
  width: fit-content;
  position: relative;
  top: 2%;
  right: 0%;
  color: black;
}

/* .ui-checkbox input,
.ui-radio input {
  position: absolute;
  left: 50px;
} */

.distance {
  /* border: 1px solid blue; */
}

.ui-input-text {
  width: 55px;
  position: absolute;
  top: 3%;
  left: 11%;
  z-index: 100;
}

.aspect-ratio {
  position: relative;
  width: 96vw;
  left: 50%;
  transform: translateX(-50%);
  margin: 60px 0 0;
  /* border: 1px solid blue;  */
}
.aspect-ratio img {
  width: 100%;
}
.pointer {
  height: 30px;
  width: 15px;
  background-color: rgba(255, 99, 71, 0.50);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateX(-50%);
  text-align: center;
}

.ship-info {
  /* border: 1px solid blue; */
  margin-top: 20px;
}

.ship-info h3 {
  text-align: center;
  margin: 0;
  color: black;
  text-transform: uppercase;
}

input[type="range"] {
  font-size: 30px !important
}

input[type="number"] {
  font-size: 20px
}

.results-wrapper {
  position: absolute;
  /* border: 1px dashed blue; */
  top: 9%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.results-wrapper p {
  /* border: 1px dashed blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: black;
  opacity: 0.7;
  padding: 0 15px;
}

.results-wrapper span {
  font-size: 20px;
  opacity: 1;
  font-weight: 700;
}




@media only screen and (min-width: 550px) {
  .wrapper {
    width: 100%;
  }
  .nav a {
    width: 10%;
  }
}

@media only screen and (min-width: 633px) {
  .wrapper {
    width: 80%;
    margin: 20px;
  }
  .nav a {
    width: 10%;
    margin: 20px;
  }
  .behind-target {
    top: 32%;
    right: 15%;
  }
}