*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::selection,
*::after, *::before {
  background: none;
}

@font-face {
  font-family:"TGL 0-17";
  src:url("./font/TGL_0-17.eot?") format("eot"),
  url("./font/TGL_0-17.woff") format("woff"),
  url("./font/TGL_0-17.ttf") format("truetype"),
  url("./font/TGL_0-17.svg#TGL0-17") format("svg");
  font-weight:normal;
  font-style:normal;
}

body {
  background: linear-gradient(to right, hsl(200, 100%, 50%), hsl(175, 100%, 50%));
  height: 100vh;
  background: radial-gradient(circle at 50% 50%, #eeeeee 0%, #333 100%);
  font-family:"TGL 0-17";
}

.wrapper {
  /* border: 1px dashed blue; */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.frame {
  /* border: 1px dashed black; */
  position: relative;
}
.frame > img {
  display: block;
  width: 100%;
} 

.toggle-cap {
  background: none;
  position: absolute;
  top: 10.5%;
  left: 49.8%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 16%;
  width: 22%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  cursor: pointer;
}
.toggle-cap > img {
  /* border: 1px dashed white; */
  display: block;
  width: 55%;
  position: absolute;
  top: 55.5%;
  left: 48%;
  transform: translate(-50%, -50%);
}
.toggle-cap:active > img {
  top: 65%;
}

.display {
  border-radius: 50%;
  height: 68.8%;
  width: 89%;
  position: absolute;
  top: 61.1%;
  left: 49.2%;
  transform: translate(-50%, -50%);
}
.display > img {
  position: relative;
  display: block;
  width: 100%;
}

.center {
  height: 65%;
  width: 65%;
  /* border: 2px solid green; */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 150;
}
.center::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 78%;
  width: 78%;
  /* border: 2px solid red; */
}
.center::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 55%;
  width: 55%;
  /* border: 2px solid #4a0080; */
}

.minute-hand {
  /* border: 1px solid red; */
  --rotation: 0;
  height: 10%;
  width: 20%;
  position: absolute;
  top: 37%;
  left: 49.8%;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(calc(var(--rotation) * 1deg));
  background-image: url('./images/small-needle.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 50;
}

.second-hand {
  /* border: 1px solid red; */
  position: absolute;
  top: 49.9%;
  left: 49.9%;
  --rotation: 0;
  transform-origin: center;
  z-index: 100;
  transform: translate(-50%, -50%) rotate(calc(var(--rotation) * 1deg));
  width: 10%;
  height: 80%;
  background-image: url('./images/needle.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}



.serial {
  position: absolute;
  right: 3%;
  bottom: 1%;
  font-size: 2rem;
  color: #1b1b1b;
}












.clock-frame {
  border: 1px dashed black;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  z-index: 0;
}
.clock-frame .frame {
  display: block;
  width: 100%;
}
.cap {
  /* border: 1px dashed black; */
  cursor: pointer;
  width: 11.5%;
  position: absolute;
  top: 8.5%;
  left: 48.8%;
  transform: translateX(-50%);
  transition: 50ms ease-in-out;
}
.cap img {
  display: block;
  width: 100%;
  opacity: 0;
}
.start_btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url('./img/cap.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1000;
  cursor: pointer;
}

.start_btn:active {
  top: 8.5%;
}

.clock-display {
  border-radius: 50%;
  position: absolute;
  top: 60.5%;
  left: 49.2%;
  transform: translate(-50%, -50%);
  height: 68%;
  width: 87%;
}

.minute {
  
  --rotation: 0;
  height: 8%;
  width: 18%;
  position: absolute;
  top: 37.5%;
  left: 49.8%;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(calc(var(--rotation) * 1deg));
  transition: 2s ease-in-out;
  background-image: url('./img/small.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 50;
  
}

.second {
  /* border: 1px dashed black; */
  position: absolute;
  top: 50%;
  left: 50%;
  --rotation: 0;
  transform-origin: center;
  z-index: 100;
  transform: translate(-50%, -50%) rotate(calc(var(--rotation) * 1deg));
  width: 10%;
  height: 80%;
  background-image: url('./img/needle.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}




@media only screen and (min-width: 550px) {
  .wrapper {
    width: 100%;
  }
}
@media only screen and (min-width: 633px) {
  .wrapper {
    width: 80%;
  }
}